<!-- <div>
  <div>
    <div style="display: block">
      <canvas baseChart id="doughnutChartLoan">
      </canvas>
    </div>
  </div>
</div> -->

<!--
<ejs-accumulationchart id="container" width='92%' [legendSettings]="legendSettings" [title]="title"
  [enableAnimation]='enableAnimation'>
  <e-accumulation-series-collection>
    <e-accumulation-series name='Browser' [dataSource]='pieData' xName='x' yName='y' [startAngle]="startAngle"
      [endAngle]="endAngle" innerRadius="20%" radius="r">
    </e-accumulation-series>
  </e-accumulation-series-collection>
</ejs-accumulationchart> -->

<div class="right-side-content">
  <h1>Break-up of Total Payment</h1>
  <div class="row pie-chart">
    <div class="col-lg-8  p-0">


            <canvas id="doughnutChartLoan">
            </canvas>

    </div>
    <div class="col-lg-4 p-0">
      <ul>
        <li>
          <p>
            <span class="pie-icon icon1"></span>
            Principal Amount
          </p>
          <h5 class="pie-ammount">{{principal | currency}} </h5>
        </li>
        <li>
          <p>
            <span class="pie-icon icon2"></span>
            Total Interest
          </p>
          <h5 class="pie-ammount">{{totalInterest | currency}} </h5>
        </li>
        <li>
          <p>
            Total Payment
          </p>
          <p>(Principal + Interest)</p>
          <h5 class="pie-ammount">{{(totalInterest + principal) | currency}} </h5>
        </li>
      </ul>
    </div>
  </div>
  <div class="chart-detail">
    <h3>Your Monthly Payment</h3>
    <h1>{{loanMonthlyPayment | currency}} </h1>
  </div>
</div>
