.custom-slider .ng5-slider
  .ng5-slider-bar
    height: 10px

  .ng5-slider-selection-bar
    visibility: visible !important

  .ng5-slider-selection
    background: red !important

  .ng5-slider-tick
    width: 0
    height: 0

  .ng5-slider-pointer
    background-color: brown

  .ng5-slider-ticks-values-under .ng5-slider-tick-value
    bottom: -40px

.custom-control-input
  padding-top: 6px
