<div class="">
  <div class="left-content">
    <div class="progress-bar-wrapper">
      <div class="heading">
        <h1>Loan Ammount</h1>
        <div class="btn-group">
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""
            [(ngModel)]="principal" (change)="addNotify()">
          <button type="button" class="btn btn-secondary cst-group  dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="incrementValue('principal', 1000, 500000)">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"  (click)="decrementValue('principal', 1000)"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
        </div>
      </div>
      <div class="custom-slider">
        <ng5-slider [(value)]="principal" [options]="principleAmountOptions" (valueChange)="addNotify()"></ng5-slider>
      </div>
    </div>
    <div class="progress-bar-wrapper">
      <div class="heading">
        <h1>Interest Rate</h1>
        <div class="btn-group">
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""
            [(ngModel)]="rate" (change)="addNotify()">
          <button type="button" class="btn btn-secondary cst-group  dropdown-toggle dropdown-toggle-split"  (click)="incrementValue('rate', 1, 20)"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"  (click)="decrementValue('rate', 1000)" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
        </div>
      </div>
      <div class="custom-slider">
        <ng5-slider [(value)]="rate" [options]="interestRateOptions" (valueChange)="addNotify()"></ng5-slider>
      </div>
    </div>
    <div class="progress-bar-wrapper">
      <div class="heading">
        <h1>Loan Term</h1>
        <div class="custom-radio custom-control"><input type="radio" id="radioMonth" name="customRadio"
            class="custom-control-input" [(ngModel)]="termFormat" value="month"><label for="radioMonth"
            class="custom-control-label">Month</label>
        </div>
        <div class="custom-radio custom-control"><input type="radio" id="radioYear" name="customRadio"
            class="custom-control-input" [(ngModel)]="termFormat" value="year"><label for="radioYear"
            class="custom-control-label">Year</label></div>
        <div class="btn-group">
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""
            [(ngModel)]="term" (change)="addNotify()">
          <button type="button" class="btn btn-secondary cst-group  dropdown-toggle dropdown-toggle-split"  (click)="incrementValue('term', termFormat=='month'?6:1,termFormat=='month'?480:40)"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"  (click)="decrementValue('term', 1000)" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
        </div>
      </div>
      <div class="custom-slider">
        <ng5-slider [(value)]="term" [options]="termFormat === 'year' ? termOptionsYear : termOptionsMonth"
          (valueChange)="addNotify()"></ng5-slider>
      </div>
    </div>
  </div>
</div>
