<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">Personal Details</h5>
    <form [formGroup]="personalDetailsForm" name="personalDetailsForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="first_name" [ngClass]="{ 'text-red': submitted && personalDetailsForm.controls.first_name.errors }">First Name</label>
            <input name="first_name" formControlName="first_name" id="first_name" placeholder="First name" type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && personalDetailsForm.controls.first_name.errors }">
            <div *ngIf="submitted && personalDetailsForm.controls.first_name.errors" class="invalid-feedback">
              <div *ngIf="personalDetailsForm.controls.first_name.errors.required">First Name is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="last_name" [ngClass]="{ 'text-red': submitted && personalDetailsForm.controls.last_name.errors }">Last Name</label>
            <input name="last_name" formControlName="last_name" id="last_name" placeholder="Last Name" type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && personalDetailsForm.controls.last_name.errors }">
            <div *ngIf="submitted && personalDetailsForm.controls.last_name.errors" class="invalid-feedback">
              <div *ngIf="personalDetailsForm.controls.last_name.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="email" [ngClass]="{ 'text-red': submitted && personalDetailsForm.controls.email.errors }">Email</label>
            <input name="email" formControlName="email" id="email" placeholder="Email Address" type="email"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && personalDetailsForm.controls.email.errors }">
            <div *ngIf="submitted && personalDetailsForm.controls.email.errors" class="invalid-feedback">
              <div *ngIf="personalDetailsForm.controls.email.errors.required">Email is required</div>
              <div *ngIf="personalDetailsForm.controls.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="phone" [ngClass]="{ 'text-red': submitted && personalDetailsForm.controls.phone.errors }">Phone</label>
            <input name="phone" formControlName="phone" id="phone" placeholder="Phone Number" type="text"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && personalDetailsForm.controls.phone.errors }">
            <div *ngIf="submitted && personalDetailsForm.controls.phone.errors" class="invalid-feedback">
              <div *ngIf="personalDetailsForm.controls.phone.errors.required">Phone is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="password" [ngClass]="{ 'text-red': submitted && personalDetailsForm.controls.password.errors }">Password</label>
            <input name="password" formControlName="password" id="password" placeholder="Password" type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && personalDetailsForm.controls.password.errors }">
            <div *ngIf="submitted && personalDetailsForm.controls.password.errors" class="invalid-feedback">
              <div *ngIf="personalDetailsForm.controls.password.errors.required">Password is required</div>
              <div *ngIf="personalDetailsForm.controls.password.errors.minlength">Password must be at least 8 characters</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="confirm_password" [ngClass]="{ 'text-red': submitted && personalDetailsForm.controls.confirm_password.errors }">Confirm Password</label>
            <input name="confirm_password" formControlName="confirm_password" id="confirm_password"
              placeholder="Confirm Password" type="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && personalDetailsForm.controls.confirm_password.errors }">
            <div *ngIf="submitted && personalDetailsForm.controls.confirm_password.errors" class="invalid-feedback">
              <div *ngIf="personalDetailsForm.controls.confirm_password.errors.required">Confirm Password is required</div>
              <div *ngIf="personalDetailsForm.controls.confirm_password.errors.minlength">Confirm Password must be at least 8 characters</div>
              <div *ngIf="personalDetailsForm.controls.confirm_password.errors.mustMatch">Passwords must match</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="age" [ngClass]="{ 'text-red': submitted && personalDetailsForm.controls.age.errors }">Age</label>
            <input name="age" formControlName="age" id="age" placeholder="Age" type="number" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && personalDetailsForm.controls.age.errors }">
            <div *ngIf="submitted && personalDetailsForm.controls.age.errors" class="invalid-feedback">
              <div *ngIf="personalDetailsForm.controls.age.errors.required">Age is required</div>
            </div>
          </div>
        </div>
      </div>
      <button class="mt-2 btn btn-primary">Create</button>
    </form>
  </div>
</div>