



<div class=" card-wrapper ">
  <div class="row card-content">

    <div class="col-lg-6 col-sm-12 p-0">
      <app-loan-calculator></app-loan-calculator>
    </div>
    <div class=" col-lg-6 col-sm-12 p-0">
      <app-chart></app-chart>
    </div>

  </div>
</div>
