@import "assets/base";
.left-content {
  margin: 25px 0;
  padding: 30px 50px;
  border-right: 1px solid #dcdcdc;

  .heading {
    h1 {
      float: left;
      margin-top: 6px;
      color: #5d5d5d;
      font-size: 18px;
      font-weight: 500;
    }

    .btn-group {
      height: 35px;
      width: 200px;
    }
  }

  .dropdown-toggle-split {
    padding-right: 12px;
    padding-left: 12px;
  }
  button{
    height: 38px;
  }
  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;

    &:focus {
      /*border:none;*/
      box-shadow: none;
    }
  }
}

.btn-secondary {
  &.focus, &:focus {
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled) {
    &.active:focus, &:active:focus {
      box-shadow: none;
    }
  }
}

.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.cst-group.dropdown-toggle::after {
  transform: rotate(180deg);
}

.left-content {
  .cst-group {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
  }

  .heading {
    display: flex;
    justify-content: space-between;
  }
}

.graph-wrapper{
  align-items: center;
    justify-content: center;
    display: flex;
}

// .card-wrapper {
//   width: 80%;
//   margin: 100px auto;
// }

.card-content {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/*progressbar*/

.progress-bar-wrapper {
  margin-bottom: 100px;
}

.rentbuy-scale-wrapper ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 10px 0px;

  li {
    padding-top: 0px;
    float: left;
    margin-left: -2px;

    label {
      font-weight: 500;
    }
  }
}

.progress-bar {
  width: 90%;
  position: relative;
  background-color: #dedede;
  height: 12px;
  width: 100%;
  margin: 50px auto 0px;
  border-radius: 5px;
  border-radius: 25px;

  span.progress-colorbar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 12px;
    border-radius: 3px;
    transition: width .4s ease-in-out;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #7c9bff;
  }
}

.rentbuy-scale {
  h4 {
    text-align: center;
    color: black;
  }

  .divider-1, .divider-2, .divider-3, .divider-4, .divider-5 {
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: #cacaca;
    top: 14px;
  }

  .divider-1 {
    left: 0%;
  }

  .divider-2 {
    left: 25%;
  }

  .divider-3 {
    left: 50%;
  }

  .divider-4 {
    left: 75%;
  }

  .divider-5 {
    left: 100%;
  }
}

.rentbuy-scale-wrapper ul {
  position: relative;

  li {
    position: absolute;

    &:nth-child(1) {
      left: 0%;
    }

    &:nth-child(2) {
      left: 25%;
    }

    &:nth-child(3) {
      left: 50%;
    }

    &:nth-child(4) {
      left: 75%;
    }

    &:nth-child(5) {
      left: 100%;
    }
  }
}

.tag-label {
  position: absolute;
  top: -7px;
  right: -7px;

  .circle {
    width: 25px;
    height: 25px;
    border: 5px solid #6c757d;
    background: #7c9bff;
    border-radius: 50%;
  }
}

/*progressbar*/

/*right-side*/

.right-side-content {
  margin: 25px 0;
  padding: 30px;

  .pie-chart {
    margin: 30px 0;
    display: flex;
    align-items: center;
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
  }

  .pie-icon {
    height: 21px;
    width: 21px;
    display: inline-block;
    border-radius: 10px;
    margin: 0 14px 0 0;
    vertical-align: text-top;

    &.icon1 {
      background: linear-gradient(#3AC8DC, #5B6BC0);
    }
  }
}

.pie-ammount {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  padding: 5px 0 10px;
  text-align: center;
}

.right-side-content {
  ul li {
    margin: 30px 0;
  }

  .chart-detail {
    padding: 20px 0;
    text-align: center;

    h3 {
      font-size: 18px;
      color: #000;
      margin-top: 5px;
      text-align: center;
    }
  }

  h1 {
    font-size: 20px;
    color: #5d5d5d;
    letter-spacing: 0.7px;
    line-height: 29px;
  }

  .chart-detail h1 {
    /*color: #F5F5F5;*/
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }

  ul li p {
    text-align: center;
    margin: 0;
  }

  .pie-icon.icon2 {
    background: linear-gradient(#F3A55B, #FB6589);
  }
}

/*responsive*/

@media (max-width: 991px) {
  .left-content .heading {
    flex-direction: column;

    .btn-group {
      width: 100%;
    }
  }
}

.custom-slider .ng5-slider .ng5-slider-bar {
  height: 10px;
}
.custom-slider .ng5-slider .ng5-slider-selection-bar {
  visibility: visible !important;
}
.custom-slider .ng5-slider .ng5-slider-selection {
  background: #7C9BFF !important;
}
.custom-slider .ng5-slider .ng5-slider-tick {
  width: 0;
  height: 0;
}
.custom-slider .ng5-slider .ng5-slider-pointer {
  background-color: #6C757D;
}
.custom-slider .ng5-slider .ng5-slider-ticks-values-under .ng5-slider-tick-value {
  bottom: -40px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

